.DS_Store
node_modules
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/dist
.vercel
.env
/terraform/.terraform
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/imports.tf
